/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        esc {
            bindings = <&kp ESCAPE>;
            key-positions = <14 15 16>;
        };

        enter {
            bindings = <&kp ENTER>;
            key-positions = <19 20 21>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <15 16>;
        };

        ru {
            bindings = <&ru>;
            key-positions = <38 4>;
            layers = <0>;
        };

        en {
            bindings = <&en>;
            key-positions = <38 3>;
            layers = <2>;
        };
    };

    macros {
        en: en {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(NUMBER_1) &to 0>;
            label = "EN";
        };

        ru: ru {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(NUMBER_2) &to 2>;
            label = "RU";
        };

        ru_sym: ru_sym {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&to 1 &kp LA(NUMBER_1)>,
                <&macro_release>,
                <&to 2 &kp LA(NUMBER_2)>;

            label = "RU_SYM";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        en {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp TILDE       &kp Q                         &kp W  &kp E      &kp R         &kp T          &kp Y              &kp U  &kp I              &kp O    &kp P     &kp LEFT_BRACKET
&kp LEFT_SHIFT  &mt LA(LC(LG(LEFT_SHIFT))) A  &kp S  &kp D      &kp F         &kp G          &kp H              &kp J  &kp K              &kp L    &kp SEMI  &kp SQT
&kp CAPS        &kp Z                         &kp X  &kp C      &kp V         &kp B          &kp N              &kp M  &kp COMMA          &kp DOT  &kp FSLH  &kp RIGHT_SHIFT
                                                     &kp LCTRL  &kp LEFT_GUI  &lt 3 SPACE    &kp LS(BACKSPACE)  &mo 1  &kp RIGHT_BRACKET
            >;
        };

        en_sym {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp TAB         &kp EXCLAMATION       &kp AT_SIGN            &kp HASH          &kp DOLLAR         &kp PERCENT         &kp CARET      &kp LS(AMPERSAND)  &kp ASTERISK  &kp COLON     &kp LS(SEMICOLON)  &trans
&kp LEFT_SHIFT  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp LESS_THAN       &kp LEFT       &kp DOWN           &kp UP        &kp RIGHT     &kp F8             &kp F9
&trans          &trans                &kp BACKSLASH          &kp PIPE          &kp SLASH          &kp GREATER_THAN    &kp EQUAL      &kp DOT            &kp COMMA     &kp QUESTION  &kp MINUS          &trans
                                                             &kp LCTRL         &kp LEFT_GUI       &kp SPACE           &kp BACKSPACE  &trans             &trans
            >;
        };

        ru {
            bindings = <
&kp TILDE       &kp Q                         &kp W  &kp E      &kp R         &kp T          &kp Y              &kp U    &kp I              &kp O    &kp P     &kp LEFT_BRACKET
&kp LEFT_SHIFT  &mt LA(LC(LG(LEFT_SHIFT))) A  &kp S  &kp D      &kp F         &kp G          &kp H              &kp J    &kp K              &kp L    &kp SEMI  &kp SQT
&kp CAPS        &kp Z                         &kp X  &kp C      &kp V         &kp B          &kp N              &kp M    &kp COMMA          &kp DOT  &kp FSLH  &kp RIGHT_SHIFT
                                                     &kp LCTRL  &kp LEFT_GUI  &lt 3 SPACE    &kp LS(BACKSPACE)  &ru_sym  &kp RIGHT_BRACKET
            >;
        };

        numpad {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp N7        &kp N8        &kp N9        &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp NUMBER_4  &kp N5        &kp NUMBER_6  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans        &kp N0
            >;
        };
    };
};
