/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        esc {
            bindings = <&kp ESCAPE>;
            key-positions = <14 15 16>;
        };

        enter {
            bindings = <&kp ENTER>;
            key-positions = <19 20 21>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <15 16>;
        };
    };

    macros {
        comma: new_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <>;
            label = "NEW_MACRO";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp TILDE       &kp Q                         &kp W  &kp E      &kp R         &kp T          &kp Y              &kp U  &kp I              &kp O    &kp P     &kp LEFT_BRACKET
&kp LEFT_SHIFT  &mt LA(LC(LG(LEFT_SHIFT))) A  &kp S  &kp D      &kp F         &kp G          &kp H              &kp J  &kp K              &kp L    &kp SEMI  &kp SQT
&kp CAPS        &kp Z                         &kp X  &kp C      &kp V         &kp B          &kp N              &kp M  &kp COMMA          &kp DOT  &kp FSLH  &kp RIGHT_SHIFT
                                                     &kp LCTRL  &kp LEFT_GUI  &lt 2 SPACE    &kp LS(BACKSPACE)  &mo 1  &kp RIGHT_BRACKET
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp TAB         &kp F11               &kp F12                &kp F13   &kp F14  &kp F15      &kp F16        &kp F17   &kp F18  &kp F19    &kp F20    &trans
&kp LEFT_SHIFT  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp F1    &kp F2   &kp F3       &kp LEFT       &kp DOWN  &kp UP   &kp RIGHT  &kp F8     &kp F9
&trans          &trans                &kp F4                 &kp F5    &kp F6   &kp F7       &kp EQUAL      &kp F21   &kp F22  &kp F23    &kp MINUS  &trans
                                                             &kp LGUI  &trans   &kp SPACE    &kp BACKSPACE  &trans    &trans
            >;
        };

        layer_2 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp N7        &kp N8        &kp N9        &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp NUMBER_4  &kp N5        &kp NUMBER_6  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans        &kp N0
            >;
        };
    };
};
